
@*dont forget to declare the view's model on the first line!*@
@{
    ViewBag.Title = "product name should go here";
}

<div class="row">
    <div class="col-md-8 product-details">
        <h2>Product Name</h2>
        <p>
            Product Description
        </p>
        <p>
            MSRP: <s>MSRP Price, formatted as currency</s>
            <br/>
            Our Price: <span class="price">Price, formatted as currency</span>
            
            @*if our price is less than the msrp price, display the following*@
                <div>You save <span class="price">%savings ((unit price / msrp) * 100, round to 2 decimal points)%</span></div>
            
        </p>
    </div>
    <div class="col-md-4 product-images">
        <img class="img-rounded main-image" src="the first image in product images url" />
        <div class="thumbnails text-center">
            @*for each product image for the product....*@
                <div class="thumbnail">
                    <img src="url of the image" />
                </div>
            
        </div>
    </div>
</div>
<div>
    @*link to go back to the main products list*@
    <a href="#" class="btn btn-default">Back to Products</a>
</div>

